/* src/components/NumericKeypad.css */
.numeric-keypad {
  display: flex;
  flex-direction: column;
  margin-top: 37px;
  margin-right: 15.9em;
  padding: 0em 0em;
  width: 70.5em;
  background-color: #133a03;
  margin-bottom: 3em;
  }

  .display {
    height: 65px;
    border: 2px solid #dad4d4;
    margin-bottom: 10px;
    text-align: right;
    font-size: 40px;
    padding: 5px 0.5em;
    box-sizing: border-box;
    width: 7.4em;
    color: rgb(254, 251, 251);
    background-color: #7d7979;
  }
.display-text{
  height: 65px;
  border: 2px solid #dad4d4;
  margin-bottom: 10px;
  text-align: left;
  text-transform: capitalize;
  font-size: 13.5px;
  padding: 0.5em;
  box-sizing: border-box;
  width: 23.4em;
  color: rgb(254, 251, 251);
  background-color: #7d7979;
}
  .keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .keypad-continer{
    width: 24em;
    height: 34em;
    background-color: #5da3a3;
    margin-left: 24em;
    padding: 1.2em 1.5em 1.3em 1.2em;
    margin-top: inherit;

  }

  button {
    width: 90px;
    height: 90px;
    font-size: 60px;
}

  .teclado-enter {
    font-size: 39px;
    margin-bottom: 21px;
    list-style: none;
    padding: 'revert-layer';
    cursor: pointer;
  }
