/* src/components/TurnoSolicitud.css */
.turno-solicitud {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 7em;
  }

  .turno-solicitud h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .turno-solicitud p {
    font-size: 20px;
    margin-top: 20px;
  }
.turno-solicitud-opciones{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  margin-bottom: -27px;
  width: 35em;
  height: 3em;
  margin-right: 9em;
  border: 4px solid #f3e211;
}
.turno-card {
  margin-bottom: 21px;
  margin-top: 1em;
  padding: 1em;
  margin-left: -10em;
}
.turno-title{
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: auto;
  /* font-size: 24px; */
  width: 50em;
  height: 3em;
  background-color: beige;
}
